[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
boto3 = "*"
pyarrow = "*"
pyyaml = "*"


[dev-packages]
jupyter = "*"
moto = "*"
coverage = "*"


[requires]
python_version = "3.10"
